body {
    margin: 0px;
    font-family: sans-serif;
    font-display: relative;
    font: bold;
    font-weight: bolder;
    color: #304D6D;

}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

button {
    margin: 10px;
    border: 1px solid;
    border-color: #304D6D;
    border-radius: 35px;
    padding: 10px;
    background-color: #304D6D;
    color: white;
    box-shadow: 5px 5px 5px #223b55;
    transition: 0.5s;
}

button:hover {
    border-color: white;
    background-color: white;
    color: #304D6D;
    transition: 0.5s;
}

.quiz {
    background-color: #A7CCED;
    border: 1px solid;
    border-color: #A7CCED;
    border-radius: 35px;
    padding: 10px;
    width: auto;
    height: auto;
}

.refresh-loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: yellow;
    animation: spin 2s linear infinite;
}


#acertou {
    color: rgb(33, 211, 33);
}

#errou {
    color: rgb(226, 46, 46);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}